@media screen and (max-width: 1199px) {
  .section-company.section {
    display: none;
    visibility: hidden;
  }
}

.company__item {
  position: relative;
}
.company__item-name {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
}

.company {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.company__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
