.features__icon-wrapper {
  max-width: 450px;
  height: 120px;
  background: var(--section-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.features {
  display: flex;
  flex-wrap: wrap;
}

//--- 320-1199---//

@media screen and (max-width: 1199px) {
  .features__item:not(:nth-child(n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .feature-title {
    text-align: center;
  }
  .features {
    margin-left: auto;
    margin-right: auto;
  }
}

///--- 768+ ---///

@media screen and (min-width: 768px) {
  .features__item:nth-child(2n-1) {
    margin-right: 30px;
  }
  .features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}
