.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  position: relative;
  padding: 0;
}
.header.portfolio {
  border: 1px solid var(--header-border-color);
}

.mobile-menu-btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

.mobile-menu-btn__icon {
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .contact {
    display: none;
  }
  .header {
    padding: 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
  }
  .contact {
    display: block;
    margin-left: auto;
  }
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
  }

  .site-nav .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }

  .site-nav .link {
    font-family: "Roboto", sans-serif;
    position: relative;
    display: inline-block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .current::after {
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    border-radius: 2px;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .contact__link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .contact__icon-nav {
    fill: currentColor;
    margin-right: 10px;
  }
}

.site-nav .link.current {
  color: var(--accent-color);
}

.header__logo {
  margin-right: 88px;
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    align-items: center;
  }
  .contact-number {
    margin-left: 50px;
  }
  .contact__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
