.main-title {
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.3;
  }
}
