.clients-icon {
  flex-wrap: wrap;
  display: flex;
}

.clients-icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-icon-color);
  border: 1px solid var(--social-icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 92px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}

.clients-icon__img {
  fill: currentColor;
}

//---max-width---//

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-icon__item {
    margin: 15px;
    flex-basis: calc((100% - 90px) / 3);
  }
  .clients-icon {
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .clients-icon__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
  .clients-icon__item:nth-child(2n-1) {
    margin-right: 30px;
  }
  .clients-icon__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

//---min-width---//

@media screen and (min-width: 768px) {
  .clients-icon__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-icon__link {
    width: 170px;
  }
  .clients-icon__item:not(:last-child) {
    margin-right: 30px;
  }
  .clients-icon__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
