:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color: #757575;
  --primary-background-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --section-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --background-color-modal-btn: #188ce8;
  --header-border-color: #ececec;
  --content-border-color: #eeeeee;
  --hero-bg-img-color: #c4c4c4;
  --social-icon-color: #afb1b8;
}
